html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body {
    display: flex;
    background-color: #1a1a1a;
    flex-direction: column;
}

#gameContainer {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px auto 0 auto;
}

.game {
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

.game:hover {
    background-color: white;
    cursor: pointer;
}

.game:hover>.parentGameOnRightImg>.titreGame {
    color: black;
}

.game:hover>.parentGameOnRightImg>.dateGame {
    color: black;
}

.game:hover>.imgGame {
    border: 1px solid black;
}

.titreGame {
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.imgGame {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid white;
}

.dateGame {
    color: white;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#carrouselNews {
    width: 80%;
    height: 250px;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
}

.carrouselFrameHere{
    display: flex;
}

.carrouselFrameNotHere{
    display: none;
}

.carrouselFrame {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    position: relative;
    background-position: center;
    background-size: 40%;
}

.carrouselFrame::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.carrouselFrame p {
    position: relative;
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.messageText {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 5px 10px;
    text-shadow: 1px 1px 3px blue;
}

.dateText {
    font-size: 1rem;
    margin: 0 0 10px 10px;
    text-shadow: 2px 2px 4px black;
}

#carrouselNavigator{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: -16px auto 0 auto;
    z-index: 2;
}

.carrouselDot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: black 1px 1px 2px 1px;
}

.carrouselDotHere{
    background-color: white;
}

.carrouselDotNotHere{
    background-color: rgb(144, 144, 144);
}