html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body {
    display: flex;
    background-color: #1a1a1a;
    flex-direction: column;
    cursor: none;
}

#gameContainer {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px auto 0 auto;
}

.game {
    padding: 6px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

.game:hover {
    background-color: white;
    cursor: pointer;
}

.game:hover>.parentGameOnRightImg>.titreGame {
    color: black;
}

.game:hover>.parentGameOnRightImg>.dateGame {
    color: black;
}

.game:hover>.parentGameOnRightImg>.versionGame {
    color: black;
}

.game:hover>.imgGame {
    box-shadow: 0 0 4px 0 rgb(103, 103, 103);
}

.titreGame {
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.imgGame {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid white;
}

.dateGame,
.versionGame {
    color: white;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center;
}

#carrouselNews {
    width: 80%;
    height: 250px;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: midnightblue;
}

.carrouselFrameHere {
    display: flex;
}

.carrouselFrameNotHere {
    display: none;
}

.carrouselFrame {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    position: relative;
    background-position: center;
    background-size: 40%;
    cursor: pointer;
}

.carrouselFrame::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.carrouselFrame p {
    position: relative;
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.messageText {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 2px 10px;
    text-shadow: 2px 1px 2px #2828a5;
}

.dateText {
    font-size: 1rem;
    margin: 0 0 2px 10px;
    text-shadow: 1px 1px 2px black;
}

.version {
    font-size: 0.8rem;
    margin: 0 0 10px 10px;
    text-shadow: 2px 2px 4px black;

}

#carrouselNavigator {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: -16px auto 0 auto;
    z-index: 2;
}

.carrouselDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: black 1px 1px 1px 0;
    transition: 0.2s ease-in-out;
}

.carrouselDot:hover {
    background-color: white;
    border-radius: 6px;
    width: 12px;
}

.carrouselDotHere {
    background-color: white;
    border-radius: 6px;
    width: 12px;
}

.carrouselDotNotHere {
    background-color: rgb(150, 150, 150);
}

#menu {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto 0 auto;
}

#menuLeft,
#menuRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(20px);
    padding: 10px;
    border-radius: 10px;
    cursor: default;
}

.separator {
    height: 1rem;
    width: 1px;
    background-color: white;
    margin: 0 10px;
}

.menuButton,
#searchButton {
    color: white;
    cursor: pointer;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.menuButton>span,
#searchButton>span {
    font-size: 1.7rem;
}

.menuButton:hover,
#searchButton:hover {
    color: royalblue;
    background-color: rgb(232, 239, 255);
}

.menuButton:hover>.activeDot {
    background-color: red;
}

.arrowdown {
    margin-left: -6px;
}

#closeCarrousel {
    position: absolute;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
}

#closeCarrousel>span {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#closeCarrousel:hover {
    background-color: rgba(255, 213, 213, 0.3);
}

#closeCarrousel:hover>span {
    color: rgb(181, 0, 0);
}

.activeDot {
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

#searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: #ffffff;
    margin: -3px -5px 3px 5px;
    font-size: 0.9rem;
    animation: searchDeploy forwards cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
    font-family: 'Roboto', sans-serif;
}

@keyframes searchDeploy {
    from {
        width: 0;
    }

    to {
        width: 190px;
    }
}

#searchButtonActive {
    color: white;
    cursor: pointer;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

#searchButtonActive>span {
    font-size: 1.7rem;
}

.versionGame>span {
    margin-left: 5px;
    font-size: 1.3rem;
}