html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    width: 600px;
    height: 600px;
}

.case {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#backtohome {
    position: absolute;
    top: 10px;
    left: 5px;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 100;
    cursor: pointer;
    border: 2px solid rgb(160, 208, 210);
    transition: all 0.3s ease-in-out;
}

#backtohome>span {
    color: rgb(160, 208, 210);
    font-size: 1.5rem;
}

#backtohome:hover {
    background-color: rgb(160, 208, 210);
    scale: 1.1;
}

#backtohome:hover>span {
    color: white;
}