html,
body {
    height: 100%;
    min-width: 200%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

html {
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(107, 216, 224, 0.6) 50%);
}

body {
    background-image: url(backgroundSprite.png);
    background-size: 50% auto;
    background-repeat: repeat-x;
    background-position: 0 100%;
}

#restart:hover{
    scale: 1.1;
    margin-left: 2px;
    margin-top: 2px;
}