html,
body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fbf8f1;
}

#grid {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(auto-fill, minmax(15vh, 1fr));
    width: 66vh;
    gap: 2vh;
    background-color: #bcaea3;
    padding: 2vh;
    border-radius: 10px;
}

.case {
    width: 15vh;
    height: 15vh;
    background-color: #cfc1b4;
    border-radius: 10px;
}

.case>img {
    width: 15vh;
    height: 15vh;
    border-radius: 10px;
}

.spawn {
    animation: forwards spawnCase 0.2s ease-out;
}

@keyframes spawnCase {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

#backtohome {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 100;
    cursor: pointer;
    border: 2px solid #bcaea3;
    transition: all 0.3s ease-in-out;
}

#backtohome>span {
    color: #bcaea3;
    font-size: 2.5rem;
}

#backtohome:hover {
    background-color: #bcaea3;
    border: 2px solid #92877f;
}

#backtohome:hover>span {
    color: #ffeada;
}